<div
  class="container d-flex flex-column justify-content-center align-items-center"
  style="width: 50vh; height: 100vh"
>
  <div class="w-100">
    <mat-form-field class="w-100 mb-2">
      <mat-label>Select Priority</mat-label>
      <mat-select [(value)]="selectedPriority">
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100 mb-2">
      <mat-label>Select Deadline</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="selectedDeadline"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <button class="btn btn-primary">Submit</button>
</div>
