.delete-icon {
  cursor: pointer;
  font-size: 1.5rem; /* Adjust size as needed */
  color: red;
  position: absolute;
  right: 1rem; /* Adjust distance from right */
  top: 1rem; /* Adjust distance from top */
  transition: color 0.3s, transform 0.3s;
}

.delete-icon:hover {
  color: darkred;
  transform: scale(1.1); /* Slightly increase size on hover */
}
