<div class="container my-5 d-flex justify-content-center">
  <div class="card border rounded-3 p-4" style="max-width: 600px; width: 100%">
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm" class="row g-3">
      <!-- Name Input -->
      <h2 class="display-8 fw-semi-bold text-body-emphasis text-center">
        TaskOrganizr
      </h2>
      <div class="col-12">
        <input
          type="text"
          required
          class="form-control"
          id="taskName"
          placeholder="Enter Task Name"
          ngModel
          name="taskName"
          #taskName="ngModel"
        />
        <div
          *ngIf="taskName.invalid && (taskName.dirty || taskName.touched)"
          class="text-danger"
        >
          Task Name is required.
        </div>
      </div>
      <!-- Description Input -->
      <div class="col-12">
        <input
          type="text"
          required
          class="form-control"
          id="taskDescription"
          placeholder="Enter Description"
          ngModel
          name="taskDescription"
          #taskDescription="ngModel"
        />
        <div
          *ngIf="
            taskDescription.invalid &&
            (taskDescription.dirty || taskDescription.touched)
          "
          class="text-danger"
        >
          Description is required.
        </div>
      </div>
      <!-- Submit Button -->
      <div class="col-12">
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </div>
      <!-- General Error Message -->
      <div
        *ngIf="taskForm.submitted && taskForm.invalid"
        class="col-12 text-danger text-center"
      >
        <p>Both fields are required!</p>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <div *ngIf="taskList.length > 0">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 d-flex">
      <div
        *ngFor="let task of taskList; let i = index"
        class="col d-flex justify-content-center"
      >
        <div class="card" style="height: 16rem; overflow: hidden">
          <div
            class="card-header d-flex justify-content-end align-items-center"
          >
            <button
              type="button"
              class="btn-close"
              (click)="onDeleteTask(i)"
            ></button>
          </div>

          <div class="card-body d-flex flex-column">
            <input
              class="form-control mb-2"
              type="text"
              [(ngModel)]="task.taskName"
              [readonly]="!task.isNameEditable"
            />

            <input
              class="form-control mb-2"
              type="text"
              [(ngModel)]="task.taskDescription"
              [readonly]="!task.isDescriptionEditable"
            />

            <div class="d-flex gap-3 mb-2 justify-content-between">
              <button
                *ngIf="task.isNameEditable"
                class="btn btn-warning flex-fill"
                (click)="onSaveName(i)"
              >
                Save Name
              </button>
              <button
                *ngIf="!task.isNameEditable"
                class="btn btn-secondary flex-fill"
                (click)="onEditName(i)"
              >
                Edit Name
              </button>
              <button
                *ngIf="task.isDescriptionEditable"
                class="btn btn-warning flex-fill"
                (click)="onSaveDescription(i)"
              >
                Save Description
              </button>
              <button
                *ngIf="!task.isDescriptionEditable"
                class="btn btn-secondary flex-fill"
                (click)="onEditDescription(i)"
              >
                Edit Description
              </button>
            </div>

            <button
              type="button"
              class="btn btn-primary"
              (click)="onCompleteTask(i)"
            >
              Complete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
