.edit {
  border: solid 2px orange;
}

.notedit {
  border: none;
}

.crossed {
  text-decoration: line-through;
}
.table-rounded {
  border-radius: 15px;
  overflow: hidden;
  border-collapse: separate; /* Ensure borders don't overlap */
}

.table-rounded thead {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.table-rounded thead tr {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.table-rounded tbody tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.table-rounded tbody tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.form-control,
.btn {
  border-radius: 0;
}
.form-control.rounded-start {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn.rounded-end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.blinking {
  animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
