<div class="container">
    <h1 class="text-center p-4 m-2">To-do List</h1>

    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label for="task">Task</label>
            <input type="text" required class="form-control" id="task" placeholder="Enter task" ngModel name="task">
            @if (taskForm.dirty && taskForm.invalid) {
            <small id="error" class="form-text text-danger">Required Field</small>
            }
        </div>
        <button [disabled]="taskForm.invalid" type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
    <hr>

    <table class="table">
        <thead class="text-center">
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Completed</th>
                <th scope="col">Delete</th>
                <th scope="col">Edit</th>
                <th scope="col">Save</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @for (task of taskList; track $index) {
            <tr>
                <td class="text-center">
                    <input type="text" class="form-control w-50" id="taskInTable" value="{{task.taskName}}"
                        [readOnly]="!task.isEditable" #taskInput
                        [ngClass]="{'edit': task.isEditable, 'notedit':!task.isEditable, 'crossed':task.isCompleted}">
                </td>
                <td class="text-center"><input type="checkbox" (change)="onCheck($index)" [checked]="task.isCompleted">
                </td>
                <td><button type="submit" class="btn btn-danger btn-sm" (click)="onDeleteTask($index)">Delete</button>
                </td>
                <td><button type="submit" class="btn btn-warning btn-sm" (click)="onEditTask($index)"
                        [disabled]="task.isEditable">Edit</button>
                </td>
                <td><button type="submit" class="btn btn-primary btn-sm" (click)="onSaveTask($index,taskInput.value)"
                        [disabled]="!task.isEditable">Save</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>