<div class="container">
  <h1 class="text-center p-4 m-2 text-white">To-do List</h1>

  <form
    (ngSubmit)="onSubmit(taskForm)"
    #taskForm="ngForm"
    class="d-flex align-items-center justify-content-center"
  >
    <input
      type="text"
      required
      class="form-control w-50 rounded-start"
      id="task"
      placeholder="Enter Goal"
      ngModel
      name="task"
    />
    <button
      [disabled]="taskForm.invalid"
      type="submit"
      class="btn btn-primary rounded-end"
    >
      Submit
    </button>
  </form>

  @if (taskForm.dirty && taskForm.invalid) {
  <small
    id="error"
    class="d-flex justify-content-center align-items-center text-danger"
    >Required Field</small
  >
  }
  <hr />

  @if (taskList.length>0) {
  <table class="table table-rounded">
    <thead class="text-center">
      <tr>
        <th
          scope="col"
          class="d-flex align-items-center justify-content-center"
        >
          Goals
          <mat-icon
            fontIcon="sort"
            (click)="sortAsc ? onSortAsc() : onSortDsc()"
            color="accent"
            [matTooltip]="sortAsc ? 'Sort Ascending' : 'Sort Descending'"
            matTooltipPosition="right"
            class="mx-2"
          ></mat-icon>
        </th>
        <th scope="col">Actions</th>
        <th scope="col">Completed</th>
      </tr>
    </thead>
    <tbody class="text-center">
      @for (task of taskList; track $index) {
      <tr>
        <td class="text-center">
          <input
            type="text"
            class="form-control w-100 text-center"
            id="taskInTable"
            value="{{ task.taskName }}"
            [readOnly]="!task.isEditable"
            #taskInput
            [ngClass]="{
              edit: task.isEditable,
              notedit: !task.isEditable,
              crossed: task.isCompleted
            }"
          />
        </td>

        <td>
          <button
            mat-icon-button
            (click)="onDeleteTask($index)"
            color="warn"
            matTooltip="Delete"
            matTooltipPosition="left"
          >
            <mat-icon fontIcon="delete"></mat-icon>
          </button>
          @if(!task.isEditable){
          <button
            mat-icon-button
            (click)="onEditTask($index)"
            color="accent"
            matTooltip="Edit"
            matTooltipPosition="right"
          >
            <mat-icon fontIcon="edit"></mat-icon>
          </button>
          } @if(task.isEditable){

          <button
            mat-icon-button
            (click)="onSaveTask($index, taskInput.value)"
            style="background-color: white; color: #4caf50"
            matTooltip="Save"
            matTooltipPosition="right"
          >
            <mat-icon fontIcon="save"></mat-icon></button
          >}
        </td>
        <td class="text-center">
          <mat-slide-toggle
            (change)="onCheck($index)"
            [checked]="task.isCompleted"
          ></mat-slide-toggle>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>
@if (taskList.length<=0) {
<div class="text-center text-white">
  <h4>Welcome to a new productive day!</h4>
  <h6 class="blinking">Stay focused, Stay organized and make things happen!</h6>
</div>

}
