<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4"
  >
    <div
      class="col-12 col-md-3 mb-2 mb-md-0 d-flex justify-content-between justify-content-md-start"
    >
      <a
        href="/"
        class="d-inline-flex link-body-emphasis text-decoration-none fw-bold text-body-emphasis"
      >
        TaskOrganizr
      </a>
      <div class="d-md-none">
        <a routerLink="/todolist" class="btn btn-primary">Get Started</a>
      </div>
    </div>

    <ul
      class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 d-none d-md-flex"
    >
      <li><a href="#" class="nav-link px-2">Home</a></li>
      <li><a href="#" class="nav-link px-2">Features</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-12 col-md-3 text-center text-md-end d-none d-md-block">
      <a routerLink="/todolist" class="btn btn-primary">Get Started</a>
    </div>
  </header>
</div>
