<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">
    TaskOrganizr
    <span
      routerLink="/todolist"
      class="btn btn-primary bi bi-check2-square"
    ></span>
  </h1>
  <h1 class="display-5 fw-semi-bold text-body-emphasis">
    Stay Organized, Stay Ahead
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Transform chaos into clarity. Add tasks, assign priorities, and monitor
      deadlines effortlessly. TaskOrganizr is your go-to tool for mastering
      productivity and achieving more.
    </p>
  </div>
</div>
<router-outlet></router-outlet>
