<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a
        href="/"
        class="d-inline-flex link-body-emphasis text-decoration-none text-primary"
      >
        TaskOrganizr
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2">Home</a></li>
      <li><a href="#" class="nav-link px-2">Features</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-primary">Productivity Tips</button>
    </div>
  </header>
</div>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">TaskOrganizr</h1>
  <h1 class="display-5 fw-semi-bold text-body-emphasis">
    Stay Organized, Stay Ahead
  </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      Transform chaos into clarity. Add tasks, assign priorities, and monitor
      deadlines effortlessly. TaskOrganizr is your go-to tool for mastering
      productivity and achieving more.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
        Get Started
      </button>
    </div>
  </div>
</div>
