<div class="container col-xxl-8 px-4 h-full">
  <div class="row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis">TaskOrganizr</h1>
      <h1 class="display-6 text-body-emphasis lh-1 mb-3">
        Stay Organized, Stay Ahead
      </h1>
      <p class="lead">
        Transform chaos into clarity. Add tasks, assign priorities, and monitor
        deadlines effortlessly. TaskOrganizr is your go-to tool for mastering
        productivity and achieving more.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button
          type="button"
          routerLink="/todolist"
          class="btn btn-primary btn-lg px-4 me-md-2"
        >
          Get Started
        </button>
      </div>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="assets/home.png"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
  </div>
</div>

<router-outlet></router-outlet>
