<h2 class="p-3 text-center text-white mt-5 bg-primary">Features</h2>

<div class="container px-4 py-5" id="featured-3">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <!-- Add Task Feature -->
    <div class="feature col">
      <p class="btn btn-primary btn-lg bi bi-check2-square"></p>

      <h2>Add Tasks</h2>
      <p>
        Easily add new tasks with a name, description, priority, and deadline.
        The intuitive form makes task creation quick and efficient.
      </p>
    </div>
    <!-- Edit Task Feature -->
    <div class="feature col">
      <p class="btn btn-primary btn-lg bi bi-pencil-square"></p>

      <h2>Edit Tasks</h2>
      <p>
        Modify task details anytime. Update task names, descriptions,
        priorities, or deadlines directly from the task view.
      </p>
    </div>
    <!-- Mark as Complete & Sorting Feature -->
    <div class="feature col">
      <p class="btn btn-primary btn-lg bi bi-funnel"></p>

      <h2>Track and Sort Tasks</h2>
      <p>
        Mark tasks as complete or incomplete and easily sort tasks based on
        their status, priority, or deadline for better organization.
      </p>
    </div>
  </div>
</div>
