<div class="bg-light text-center text-primary overflow-hidden py-5">
  <div class="container">
    <h2 class="display-4 mb-4">About Me</h2>
    <div
      class="bg-primary text-light shadow-lg rounded p-4 mx-auto"
      style="max-width: 100%"
    >
      <p class="fs-4 mb-4">Hello! I’m Naveen Varma.</p>
      <p class="fs-5 mb-4">Connect with me on GitHub and LinkedIn.</p>

      <div class="d-flex justify-content-center align-items-center mt-4">
        <a
          href="https://github.com/naveenvarma19"
          target="_blank"
          class="text-light text-decoration-none d-flex flex-column align-items-center mx-3 bg-primary p-2 rounded transition-colors duration-300 ease-in-out hover:bg-light hover:text-primary"
        >
          <i class="bi bi-github fs-2 mb-2"></i>
          <span class="fw-normal mb-0">GitHub</span>
        </a>
        <a
          href="https://www.linkedin.com/in/naveenvarmabh/"
          target="_blank"
          class="text-light text-decoration-none d-flex flex-column align-items-center mx-3 bg-primary p-2 rounded transition-colors duration-300 ease-in-out hover:bg-light hover:text-primary"
        >
          <i class="bi bi-linkedin fs-2 mb-2"></i>
          <span class="fw-normal mb-0">LinkedIn</span>
        </a>
      </div>
    </div>
  </div>
</div>
